:root {
  box-sizing: border-box;
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-green: #55dfb4;
  --color-black: #000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #fff;
  --accent-color: #55dfb4;
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
}
.container {
  display: flex;
}
.header__container {
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu-list {
  display: flex;
}
.list__link {
  color: var(--color-grey);
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}
.list__link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}
.logo {
  font-family: var(--ff-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
  text-decoration: none;
}
.list__element {
  padding: 0 26px;
}
.list__element:last-child {
  padding-right: 0;
}

.opening {
  margin-top: 200px;
  height: 712px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.opening__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.opening img {
  height: 684px;
  width: 100%;
}
.opening__header {
  font-family: var(--ff-raleway);
  font-weight: 400;
  color: var(--color-black);
  font-size: 49px;
  text-align: center;
  padding-bottom: 20px;
}
.opening__paragraph {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  color: var(--color-black);
  text-align: center;
  padding-bottom: 20px;
}
.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 40px;
  border: none;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: 40px;
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large {
  padding: 22px 155px;
}
.statistics {
  height: 531px;
  width: 100%;
  display: flex;
}
.statistics__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistics__header {
  font-family: var(--ff-raleway);
  font-weight: 400;
  font-size: 36px;
  padding-top: 100px;
}
.statistics__container {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.statistic__element {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}

.statistics__number {
  font-size: 20px;
  font-weight: 800;
  font-family: var(--ff-raleway);
  letter-spacing: 5px;
}
.statistics__description {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--ff-raleway);
  color: var(--color-grey);
}
.img__circle {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
}
.statistics__img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  /* top: 0; */
  left: 50%;
  transform: translate(0, -50%);
}
.red__circle {
  background-color: #fb3b64;
}
.primary__circle {
  background-color: var(--color-primary);
}
.green__circle {
  background-color: var(--color-green);
}
.benefits__info {
  height: 1400px;
  margin-top: 100px;
  background-color: var(--color-light-grey);
}
.benefits {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.first,
.second {
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.first .benefits__text::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #fb3b64;
  margin-top: 40px;
}
.second .benefits__text::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #08a6e4;
  margin-top: 50px;
}
.third .benefits__text::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #08a6e4;
  margin-top: 50px;
}
/* hr {
  width: 75%;
  height: 2px;
  background-color: var(--accent-color);
  margin-top: 50px;
  margin-left: inherit;
} */
.first .benefits__text,
.second .benefits__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  text-align: left;
  width: 50%;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  height: 370px;
  background-color: var(--color-white);
}
.first .benefits__img,
.second .benefits__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}
.benefits__img .macbook__img {
  height: 219px;
}
.benefits__img {
  position: relative;
  margin-right: 30px;
}
.benefits__img img {
  position: relative;
  z-index: 2;
}
.first .benefits__img::after {
  content: "";
  background-color: #fb3b64;
  width: 180px;
  height: 180px;
  border-radius: 41px;
  transform: rotate(45deg);
  position: absolute;
  right: 60px;
  top: 70px;
}
.benefits__title {
  font-size: 36px;
  font-family: var(--ff-raleway);
  font-weight: 400;
  padding-bottom: 20px;
}
.benefits__paragraphs {
  font-family: var(--ff-open-sans);
}
.second {
  flex-direction: row-reverse;
}
.second img {
  height: 326px;
}
.second .benefits__img {
}
.second .benefits__img::after {
  content: "";
  background-color: var(--color-primary);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 70px;
}
.benefits__first {
  background-color: var(--color-white);
  border: 1px solid #e8e9ed;
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
  border-radius: 5px;
  margin-right: 7.5%;
  box-shadow: none;
}
.third {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-grey);
  border-bottom: none;
}
.benefits__first .benefits__text {
  margin: 75px 35px;
}
.third .benefits__text {
  /* border-right: 2px solid black; */
  /* display: flex;
  flex-direction: column; */

  padding-left: 40px;
  padding-right: 40px;
}
.third .benefits__img {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
  width: 35%;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.trumpet__img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}
.pricing__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 620px;
  width: 80%;
  margin: 0 auto;
}
.pricing__header {
  font-size: 42px;
  font-family: var(--ff-raleway);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pricing__panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 360px;
}

.first__card {
  border: 1px solid #fb3b64;
  border-radius: 18px;
  opacity: 1;
}
.larger__card {
  border: 1px solid var(--color-primary);
  border-radius: 18px;
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 5px 10px 27px #07ace629;
  opacity: 1;
}
.larger__card .pricing__price {
  display: flex;
  justify-content: center;
  color: var(--color-primary);
}
.larger__card span {
  display: flex;
  justify-content: center;
}
.third__card {
  border: 1px solid var(--color-green);
  border-radius: 18px;
  opacity: 1;
}
.pricing__cards {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pricing__type {
  font-family: var(--ff-raleway);
  font-weight: 700;
  font-size: 24px;
}
.pricing__price {
  font-family: var(--ff-open-sans);
  font-weight: 300;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pricing__red {
  color: #fb3b64;
}
.pricing__green {
  color: var(--color-green);
}
.card__list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 40%;
  justify-content: space-between;
  align-items: center;
  list-style-type: square;
}

.card__list .card__list__items {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  font-size: 14px;
}
.btn {
  margin-bottom: -33px;
}
.pricing__cards .pricing__price span {
  font-size: 2px;
  font-family: var(--ff-raleway);
}
.contact__container {
  width: 50%;
  /* border: 1px solid black; */
  margin: 110px auto;
  display: flex;
  justify-content: space-between;
  height: 376px;
}
.contact__column {
  display: flex;
  width: 45%;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 50px; */
}
.contact__form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
  width: 50%;
}
.contact__form button {
  width: 50%;
}
.form__field {
  width: 100%;
}
.contact__title {
  font-size: 40px;
  font-family: var(--ff-raleway);
  font-weight: 400;
  padding-top: 5px;
}
.contact__instruction {
  font-family: var(--ff-open-sans);
}
.details__item {
  color: var(--color-grey);
  text-decoration: none;

  padding-right: 15px;
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__field:first-of-type {
  margin-bottom: 40px;
}
.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}
.form__input {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  background-color: transparent;
  line-height: 2.625rem;
}
.form__consent {
  margin-top: 15px;
}
.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
}
.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}
.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.footer {
  width: 100%;
  height: 90px;
  background-color: var(--color-light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -5px 40px #00000029;
}
.footer__text {
  padding-left: 40px;
}
.footer__title {
  color: var(--color-primary);
  font-size: 26px;
  font-family: var(--ff-raleway);
  font-weight: 300;
}
.footer__description {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  font-size: 11px;
  color: var(--color-grey);
  padding-top: 10px;
}
.footer__logos {
  padding-right: 130px;
}
.footer__logos img {
  margin-right: 25px;
}
