.benefits__info {
  height: 1400px;
  margin-top: 100px;
  background-color: $color-light-grey;
  .benefits {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.first,
.second {
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.first .benefits__text::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: $color-redish;
  margin-top: 40px;
}
.benefits__border {
  background-color: $color-green;
  margin-top: 50px;
  margin-left: 0;
  height: 3px;
  width: 75%;
}
.second .benefits__text::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: $color-primary;
  margin-top: 50px;
}
.third .benefits__text::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: $color-primary;
  margin-top: 50px;
}
/* hr {
    width: 75%;
    height: 2px;
    background-color: var(--accent-color);
    margin-top: 50px;
    margin-left: inherit;
  } */
.first .benefits__text,
.second .benefits__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  text-align: left;
  width: 50%;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: row;
  height: 370px;
  background-color: $color-white;
}
.first .benefits__img,
.second .benefits__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}
.benefits__img .macbook__img {
  height: 219px;
}
.benefits__img {
  position: relative;
  margin-right: 30px;

  & img {
    position: relative;
    z-index: 2;
  }
}
.first .benefits__img::after {
  content: "";
  background-color: $color-redish;
  width: 180px;
  height: 180px;
  border-radius: 41px;
  transform: rotate(45deg);
  position: absolute;
  right: 60px;
  top: 70px;
}
.benefits__title {
  font-size: 36px;
  font-family: v$font-raleway;
  font-weight: 400;
  padding-bottom: 20px;

  .benefits__paragraphs {
    font-family: $font-open-sans;
    padding-bottom: 20px;
  }
}
.second {
  flex-direction: row-reverse;
  & img {
    height: 326px;
  }
}

.second .benefits__img::after {
  content: "";
  background-color: $color-primary;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 70px;
}
.benefits__first {
  background-color: $color-white;
  border: 1px solid #e8e9ed;
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
  border-radius: 5px;
  margin-right: 7.5%;
  box-shadow: none;
}
.third {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: space-between;
  background-color: $color-light-grey;
  border-bottom: none;
}
.third .benefits__text {
  width: 60%;
  padding-left: 40px;
  padding-right: 40px;
}
.third .benefits__img {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  border: none;
  width: 35%;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  .trumpet__img {
    width: 295px;
    height: auto;
    margin-top: 55px;
  }
}
@include mobile {
  .benefits__info {
    height: 1400px;

    .benefits {
      width: 90%;
      height: 100%;
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .first {
        margin-top: 20px;
        display: flex;
        height: 370px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        .benefits__text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 50%;
          width: 90%;
          padding: 10px;
          &::after {
            content: "";
            opacity: 0;
          }
        }
        .benefits__img::after {
          content: "";
          width: 110px;
          height: 110px;
          top: 10;
          right: 20;
          background-color: $color-redish;
          border-radius: 50%;
        }
        .benefits__img,
        .benefits__text {
          height: 50%;
        }
        .benefits__img img {
          height: 80%;
          width: 80%;
        }
      }
      .second {
        display: flex;
        height: 370px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        .benefits__text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 50%;
          width: 90%;
          padding: 10px;
          *::after {
            content: "";
            opacity: 0;
          }
        }

        .benefits__img::after {
          content: "";
          width: 100px;
          height: 100px;
          top: 20;
          left: 20;
          background-color: $color-primary;
          border-radius: 50%;
          position: absolute;
        }
        .benefits__img,
        .benefits__text {
          height: 50%;
        }
        .benefits__img img {
          height: 70%;
          width: 70%;
        }
      }
      .third {
        width: 100%;
        display: flex;
        height: 370px;
        flex-direction: column;
        align-items: center;
        .benefits__first {
          width: 100%;
          margin: 0 auto;
          display: flex;
          height: 60%;
          justify-content: flex-start;
          align-items: flex-start;
          .benefits__text {
            display: flex;
            flex-direction: column;
            // height: 50%;
            height: 100%;
            width: 100%;
            padding-top: 30px;
            padding-right: 150px;
            &::after {
              content: "";
              opacity: 0;
            }
          }
          .benefits__border {
            width: 0;
            height: 0;
            opacity: 0;
          }
        }

        .benefits__img {
          height: 50%;
          width: 100%;
          margin: 0 auto;

          & img {
            height: 60%;
            width: 60%;
          }
        }
      }
    }
  }
}
