.opening {
  margin-top: 200px;
  height: 712px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.opening__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.opening img {
  height: 684px;
  width: 100%;
}
.opening__header {
  font-family: var(--ff-raleway);
  font-weight: 400;
  color: var(--color-black);
  font-size: 49px;
  text-align: center;
  padding-bottom: 20px;
}
.opening__paragraph {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  color: var(--color-black);
  text-align: center;
  padding-bottom: 20px;
}
.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: 40px;
  border: none;
  text-decoration: none;
}

.btn--primary {
  background-color: $color-primary;
  border-radius: 40px;
  box-shadow: 3px 10px 14px $color-primary-shadow;
}

.btn--large {
  padding: 22px 155px;
}
