.opening {
  margin-top: 200px;
  height: 712px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.opening__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.opening__header {
  font-family: var(--ff-raleway);
  font-weight: 400;
  color: var(--color-black);
  font-size: 49px;
  text-align: center;
  padding-bottom: 20px;
}
.opening__paragraph {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  color: var(--color-black);
  text-align: center;
  padding-bottom: 20px;
}

.btn--large {
  padding: 22px 155px;
}
@include mobile {
  .opening {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .btn--primary {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    text-decoration: none;
    background-color: $color-primary;
    width: 70%;
    box-shadow: 3px 10px 14px $color-primary-shadow;
  }
  .opening img {
    height: 300px;
    width: 100%;
  }
}
