.statistics {
  height: 531px;
  width: 100%;
  display: flex;
}
.statistics__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistics__header {
  font-family: var(--ff-raleway);
  font-weight: 400;
  font-size: 36px;
  padding-top: 100px;
}
.statistics__container {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.statistic__element {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}

.statistics__number {
  font-size: 20px;
  font-weight: 800;
  font-family: var(--ff-raleway);
  letter-spacing: 5px;
}
.statistics__description {
  font-size: 17px;
  font-weight: 400;
  font-family: var(--ff-raleway);
  color: var(--color-grey);
}
.img__circle {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 50%;
}
.statistics__img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  /* top: 0; */
  left: 50%;
  transform: translate(0, -50%);
}
.red__circle {
  background-color: #fb3b64;
}
.primary__circle {
  background-color: var(--color-primary);
}
.green__circle {
  background-color: var(--color-green);
}
